body {
    --color-primary: #009579;
    --color-primary-dark: #007f67;
    --color-secondary: #252c6a;
    --color-error: #cc3333;
    --color-success: #4bb544;
    --border-radius: 4px;


    margin: 0;
    height: 1160px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    background: var(--color-primary);
    background-size: cover;
}

.container {
    width: 400px;
    max-width: 400px;
    margin: 1rem;
    padding: 2rem;
    box-shadow: 0 0 40px rgb(0, 0, 0 ,0.2);
    border-radius: var(--border-radius);
    background-color: #ffffff;
}

.hidden__welcome-message {
    display: none;
}

.welcome__message {
    width: 405px;
    height: 355px;
    max-width: 400px;
    margin: 1rem;
    padding: 2rem;
    box-shadow: 0 0 40px rgb(0 0 0 / 20%);
    border-radius: var(--border-radius);
    background-color: #ffffff;
    text-align: center;
    line-height: 10;
    font-size: 35px;
    color: var(--color-primary);
    position: absolute;
    left: 45%;
    top: 50%;
    z-index: 2;
}
.welcome__message button {
    padding: 10px;
    position: absolute;
    z-index: 2;
}

.form__hidden {
    display: none;
}

.container,
.form__input,
.form__button {
    font: 500 1rem 'Quicksand', sans-serif;

}
.form > *:first-child {
    margin-top: 0;
}

.form > *:last-child {
    margin-bottom: 0;
}

.form__title {
    margin-bottom: 2rem;
    text-align: center;
}
h2 {
    font-size: 20px;
    margin: 0;
}
h3 {
    font-size: 16px;
}
.form__message {
    text-align: center;
    margin-bottom: 1rem;
}

.form__message--success{
    color: var(--color-success);
}

.form__message--error {
    color: var(--color-error);
}

.form__input-group {
    margin-bottom: 1rem;
}
.form__input {
    display: block;
    width: 100%;
    padding: 0.75rem;
    box-sizing: border-box;
    border-radius: var(--border-radius);
    border: 1px solid #dddddd;
    outline: none;
    background-color: #eeeeee;
    transition: background 0.2s, border-color 0.2s;
}
.form__input:focus {
    border-color: var(--color-primary);
    background-color: #ffffff;
}

.form__input-error {
    color: var(--color-error);
    border-color: var(--color-error);
}

.form__input-error-message {
    margin: 0.5rem;
    font-size: 0.85rem;
    color: var(--color-error);
}

.form__button {
    width: 100%;
    padding: 1rem 2rem;
    font-weight: bold;
    font-size: 1.1rem;
    color: #fff;
    border-radius: var(--border-radius);
    outline: none;
    cursor: pointer;
    background-color: var(--color-primary);
}
.form__button:hover {
    background-color: var(--color-primary-dark);
}
.form__button:active {
    transform: scale(0.98);
}

.form__text {
    text-align: center;
}

.form__link {
    color: var(--color-secondary);
    text-decoration: none;
    cursor: pointer;
}
.form__link:hover {
    text-decoration: underline;
}
.label__text-area {
    position: relative;
    top: -135px;
    font-weight: bold;
    padding-right: 5px;

}
.form__text-area {
    position: relative;
    top: 10px;
    width: 260px;
    height: 150px;
    box-shadow: 0 0 30px rgb(0, 0, 0 ,0.1);
    border-radius: var(--border-radius);
    border: #fff;
    padding: 10px;
    outline: none;
}
hr {
    border-color: var(--color-primary-dark);
    margin-top: 15px;
}
